@model AdminLeaveRequestViewModel

@{
    ViewData["Title"] = "Requests";
}

<div class="container">
    <div class="row">

        <h2 class="mb-4">Leave Request Statistics</h2>
        <div class="col-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Requests</h5>
                    <p class="card-text">@Model.TotalRequests</p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Approved Requests</h5>
                    <p class="card-text">@Model.ApprovedRequests</p>
                </div>
            </div>
        </div>
        
        <div class="col-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Pending Requests</h5>
                    <p class="card-text">@Model.PendingRequests</p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rejected Requests</h5>
                    <p class="card-text">@Model.RejectedRequests</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <h2 class="mb-4">Leave Request List</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Leave Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var request in Model.LeaveRequests)
                    {
                        <tr>
                            <td>@request.Employee.FirstName @request.Employee.LastName</td>
                            <td>@request.LeaveType.Name</td>
                            <td>@request.StartDate</td>
                            <td>@request.EndDate</td>
                            <td>
                                @if (request.Cancelled)
                                {
                                    <span class="badge bg-secondary">Cancelled</span>
                                }
                                else if (request.Approved == null)
                                {
                                    <span class="badge bg-warning">Pending</span>
                                }
                                else if (request.Approved.Value)
                                {
                                    <span class="badge bg-success">Approved</span>
                                }
                                else if (!request.Approved.Value)
                                {
                                    <span class="badge bg-danger">Rejected</span>
                                }
                            </td>
                            <td>
                                <a asp-action="Details" class="btn btn-danger btn-sm" asp-route-id="@request.Id">Review request</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

